<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout 
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:local="http://schemas.android.com/apk/res-auto"   
         android:id="@+id/drawer_layout"    
         android:layout_height="match_parent"    
         android:layout_width="fill_parent"    
         android:fitsSystemWindows="true">    
		<android.support.design.widget.CoordinatorLayout
			android:id="@+id/main_frame"
			android:fitsSystemWindows="true"
			android:layout_width="match_parent"
			android:layout_height="match_parent">
			<FrameLayout
				android:layout_width="match_parent"
				android:layout_height="match_parent"
				android:layout_centerInParent="true"
				android:id="@+id/fragmentContainer" />
		</android.support.design.widget.CoordinatorLayout>
		<FrameLayout
			android:id="@+id/navigation_frame"
			android:layout_height="match_parent"
			android:layout_width="wrap_content"
			android:layout_gravity="left|start" />  
</android.support.v4.widget.DrawerLayout>